<p>Autor   Salvador <br>
Nombre : Salvador F.C. <br>
<img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/131/351/eb6.jpg?1307463786" width="50%" height="50%" data-src="http://i0.kym-cdn.com/photos/images/newsfeed/000/131/351/eb6.jpg?1307463786">
</p>